* {
    box-sizing: border-box;
  }

.contours {
    border: solid;
    border-color: #0365a3;
    width: 35%;
    height: 400px;
    overflow: auto;
    margin-left: auto;
    margin-top: 26%;
    background: white;
    margin-right: 2.5%;
    border-radius: 15px;
    box-shadow: -1px -2px 37px 7px rgba(0,0,0,0.47);
    -webkit-box-shadow: -1px -2px 37px 7px rgba(0,0,0,0.47);
    -moz-box-shadow: -1px -2px 37px 7px rgba(0,0,0,0.47);

}

pre {
    background: rgb(233, 231, 231);  
}

.input1 {
    border: solid;
    border-color: #79ABE8;
    width: 70%;
    float: left;
    padding: 10px;
    font-size: 17px;
    margin-left: 5%;
}

.from {
    text-align: left;
}

.to {
    text-align: right;
}

img {
    width:10%;
}

.content2 {
    text-align: right;
    margin-right: 1em;
}

.content1 {
   margin-left: 3%;
   margin-top: 2%;
}

.content1 img {
    margin-left: 4%
}

.content1 p{
    display: flex;
    float: left;
    font-size: 26px;
    color: #023f8a;
    font-weight: bold;
    padding-top: 2%;
}

.buttonSend {
    width: 20%;
    font-size: large;
    font-style: bold;
    color: white;
    text-align: center;
    border-left: none; /* Prevent double borders */
}
