<div #scrollme class="contours" >

<ng-container *ngFor="let message of tests">
    <div *ngIf="message.sendBy === 'bot'" class="content1">
    <p>SamBot</p>    <img class="bot" src="../../../assets/images/sambot.png" >
    </div>
    <div class="content2">
     <img class="user" *ngIf="message.sendBy === 'user'" src="../../../assets/images/myboy.png" >
    </div>

    <div class="message" [ngClass]="{'from': message.sendBy === 'bot', 'to': message.sendBy === 'user'}">
        <pre> {{ message.content }} </pre>
    </div>


</ng-container>
<div class="myform">
    <input class="input1" [(ngModel)]="formValue" (keyup.enter)="sendMessage()"><button class="buttonSend" (click)="sendMessage()">Envoyer</button>
</div>
</div>