#header{
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
}

.left{
    width: 90%;
    height: 50px;
}

.right{
    height: 50px;
    width: 10%;
}

.all {
    background: radial-gradient(rgba(27,136,205,.6),#0374bc);
}

img {
    display: flex;
    float: left;
}

.mainImage{
    position: absolute;
    bottom: 0%;
    left: 7%;
}