<div class="all">
<!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">

<!-- You should properly set the path from the main file. -->
<nav id="header">
    <div class="left">

    </div>

    <div class="right">
        <button (click)="switchConnect()">Se connecter</button>
    </div>
</nav>
    <div class="mainImage">
        <img src="../assets/images/particulier-1.png">
    </div>
    <chat-dialog [status]="connect"></chat-dialog>
</div>